body {
  font-family: Arial, sans-serif;
  padding: 2rem;
}
textarea {
  width: 100%;
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}
fieldset {
  border: 1px solid #aaa;
  margin-bottom: 1rem;
  padding: 1rem;
}
